<h1>Update your Profile</h1>
<div class="col-md-6">
	<form action="/users/<%= @current_user.id %>" method="POST">
	  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	  <input type="hidden" name="_method" value="put">
	  <div class="form-group">
	  	<label>First Name:</label>
	  	<input type="text" class="form-control" name="profile[first_name]" value="<%= @current_user.first_name %>">
	  </div>
	 	<div class="form-group">
	  	<label>Last Name:</label>
	 	  <input type="text" class="form-control" name="profile[last_name]" value="<%= @current_user.last_name %>">
		</div>
		<div class="form-group">
	  	<label>Belts</label>
	  	<em>And other certifications</em>
		  <input type="text" class="form-control" name="profile[belts]" value="<%= @current_user.belts %>">
		</div>
		<div class="form-group">
			<label>Description</label>
	  	<em>A short summary of yourself</em>
		  <textarea class="form-control" rows="10" name="profile[summary]"><%= @current_user.summary %></textarea>
		</div>
		<div class="pull-right">
	  	<a href="/users" class="btn btn-danger">Cancel</a>
	  	<input type="submit" class="btn btn-primary" value="Update" data-disable-with="Updating..">	
		</div>
	</form>
</div>
