<div class="media">
  <div class="media-left">
    <img class="media-object img-circle" src="<%= @user.gravatar %>" alt="gravatar image">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @user.first_name %>'s Profile</h4>
    <% if @user_posts %>
    	<p>Total Number of Algorithms Posted: <%= @user_posts.length %></p>
    <% end %>
    <p>Member since: <%= @user.created_at.to_formatted_s(:long_ordinal) %></p>
    <% if @user.belts %>
   		<p>Belts: <%= @user.belts %></p>
   	<% end %>
   	<% if @user.summary %>
    	<p>Summary: <%= @user.summary %></p>
    <% end %>
  </div>
</div>

<h4><%= @user.first_name %>'s  Algorithms</h4>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Created On</th>
		</tr>
	</thead>
	<tbody>
	<% @user_posts.each do |post| %>
		<tr>
			<td><a href="/posts/<%= post.id %>"><%= post.title %></a></td>
			<td><%= post.description %></td>
			<td><%= post.created_at.to_formatted_s(:long_ordinal) %></td>			
		</tr>
		<% end %>
	</tbody>
</table>
