<div class="pull-right">
  <% if @user.id != @current_user.id && @following.nil? %>
    <form action="/followships" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="follow[user_id]" value="<%= @user.id %>">
      <input type="submit" value="Follow" class="btn btn-success" data-disable-with="Following..">
    </form>
    <% elsif @user.id != @current_user.id %>
    <form action="/followships/<%= @user.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Following" class="btn btn-success follow-btn" data-disable-with="Processing..">
    </form>
  <% end %> 
</div>

<div class="media">
  <div class="media-left">
    <img class="media-object img-circle" src="<%= @user.gravatar %>" alt="gravatar image">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @user.first_name %>'s Profile</h4>
    <% if @followers %>
    	<p>Followers: <%= @followers.length %></p>
    <% end %>
    <% if @user_posts %>
    	<p>Algorithms Posted: <%= @user_posts.length %></p>
    <% end %>
    <p>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></p>
    <% if @user.belts %>
   		<p>Belts: <%= @user.belts %></p>
   	<% end %>
   	<% if @user.summary %>
    	<p>Summary: <%= @user.summary %></p>
    <% end %>
  </div>
</div>

<h4><%= @user.first_name %>'s  Algorithms</h4>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Created On</th>
		</tr>
	</thead>
	<tbody>
	<% @user_posts.each do |post| %>
		<tr>
			<td><a href="/posts/<%= post.id %>"><%= post.title %></a></td>
			<td><%= post.description %></td>
			<td><%= post.created_at.to_formatted_s(:long_ordinal) %></td>			
		</tr>
		<% end %>
	</tbody>
</table>
<script>
  $(document).ready(function(){ 
    $('.follow-btn').mouseenter(function() {
      $(this).removeClass('btn-success');
      $(this).addClass('btn-warning');
      $(this).val('Unfollow');
    });
  $('.follow-btn').mouseleave(function() {
      $(this).removeClass('btn-warning');
      $(this).addClass('btn-success');
      $(this).val('Following');
    });
  });
</script>