  <div class="col-md-6">
    <h3>Discover New Users</h3>
    <em>And connect with other coders posting awesome algorithms!</em>
    <% if @users.length == 0 %>
      <h5>Looks like you aren't following anybody yet...</h5>
    <% else %>
      <% @users.each do |user| %>
        <div class="media">
          <div class="media-left">
            <a href="/users/<%= user.id %>">
              <img class="media-object img-circle" id="profile-pic" src="<%= user.gravatar %>" alt="Profile image">
            </a>
          </div>
          <div class="media-body">
            <a href="/users/<%= user.id %>"><h4 class="media-heading"><%= user.first_name %> <%= user.last_name %></h4></a>
            <p><%=h truncate(user.summary, :length => 60) %></p>
            <i>Member since: <%= user.created_at.strftime("%B %d, %Y") %> </i>
          </div>
        </div>
        <hr>
      <% end %>
    <% end %> 
    <div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window: 0 %>    
</div>
  </div>

</div>

<script>
  $(document).ready(function() {
    $('a#post-data').on('click', function() {
      var id = $(this).attr('data-id');
      var title = $(this).attr('data-title');
      $('a#destroy').attr('href', '/posts/'+id);
      $('h4.modal-title').html('Delete '+title+'?');
    });
    $('.follow-btn').mouseenter(function() {
      $(this).removeClass('btn-success');
      $(this).addClass('btn-warning');
      $(this).val('Unfollow');
    });
    $('.follow-btn').mouseleave(function() {
      $(this).removeClass('btn-warning');
      $(this).addClass('btn-success');
      $(this).val('Following');
    });
  });
</script>