<div class="col-md-6">
  <div class="row">
  <div class="col-lg-12">
    <form action="/search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." name="search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" data-disable-with="Searching..">Go!</button>
        </span>
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
</div>
<h3>Newest Algorithms</h3>
	<% @posts.each do |post| %>
    <div class="media">
      <div class="media-left">
        <% if post.user_id == @user.id %>
          <a href="/users">
        <% else %>
          <a href="/users/<%= post.user_id %>">
        <% end %>
            <img class="media-object img-circle" id="profile-pic" src="<%= post.user.gravatar %>" alt="Generic placeholder image">
          </a>
          <div class="text-center">
            <% if post.user_id != @user.id && @followships.where(user_id: post.user_id, follower_id: @user.id).empty? %>
              <form action="/followships" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="follow[user_id]" value="<%= post.user_id %>">
                <input type="submit" value="Follow" class="btn btn-success btn-xs" data-disable-with="Following..">
              </form>
              <% elsif post.user_id != @user.id %>
              <form action="/followships/<%= post.user_id %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Unfollow" class="btn btn-success btn-xs" data-disable-with="Processing..">
              </form>
            <% end %> 
          </div>
      </div>
      <div class="media-body">
        <a href="/posts/<%= post.id %>"><h4 class="media-heading"><%= post.title %></h4></a>
        <%=h truncate(post.description, :length => 60) %><br>
        <i>Posted about <%= distance_of_time_in_words(post.created_at, Time.new()) %> ago </i>
        <a href="/mains/<%= post.category %>"><span class="label label-primary"><%= post.category %></span></a>
      </div>
    </div>
    <hr>
		<% end %>
    <div class="text-center">
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window: 0 %>    
    </div>
</div>
<div class="col-md-6">
   <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Welcome to AlgoApp!</h3>
      </div>
      <div class="panel-body">
        Here you can discover creative algorithms, post reviews and get feedback for your own code. Have fun learning and connecting with other developers! 
      </div>
    </div>   
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Algorithm Categories</h3>
      </div>
      <div class="panel-body">
        <em>Search for an algorithm by category</em><br>
        <a href="/mains/sort"><span class="label label-default">Sort</span></a>
        <a href="/mains/array"><span class="label label-default">Array</span></a>
        <a href="/mains/binarysearch"><span class="label label-default">BinarySearch</span></a>
        <a href="/mains/recursion"><span class="label label-default">Recursion</span></a>
        <a href="/mains/linkedlist"><span class="label label-default">LinkedList</span></a>
        <a href="/mains/divide&conquer"><span class="label label-default">Divide&Conquer</span></a>
      </div>
    </div>
</div>