<div class="row">
	<div class="col-md-12">
		<% if @post.user_id != @current_user.id && @favorites.where(user_id: @current_user.id).empty? %>
			<div class="pull-right">
				<form action="/favorites" method="POST">
					<input type="hidden" name="favorite[post_id]" value="<%= @post.id %>" >
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<button class="btn btn-info" data-disable-with="Like">
						 Like <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					</button>
				</form>
			</div>
			<% elsif @post.user_id != @current_user.id %>
			<div class="pull-right">
				<form action="/favorites/<%= @post.id %>" method="POST">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="favorite[post_id]" value="<%= @post.id %>" >
					<input type="hidden" name="_method" value="delete">
					<button class="btn btn-info" data-disable-with="Unlike">
						Unlike <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
					</button>
				</form>
			</div>
		<% end %>
		<% if @post.user_id == @current_user.id %>
			<div class="pull-right">
				<a href="/posts/<%= @post.id %>/edit" class="btn btn-info">
						Edit Post
				</a>
			</div>
		<% end %>
		<h1><%= @post.title %></h1>
		<div class="star-rating" data-score= <%= @avg_review %> ></div>
		<% if @comments.length < 1 %>
			<em>No reviews yet...</em>
		<% else %>
			<em><%= "#{@comments.length} reviews" %></em>
		<% end %>
		<h5>Posted by 
		<% if @post.user_id == @current_user.id %>
			<a href="/profile">
		<% else %>
			<a href="/users/<%= @user.id %>">
		<% end %>
		<%= [@user.first_name, @user.last_name].join(" ") %></a></h5>
		<h5>Created on: <%= @post.created_at.to_formatted_s(:long_ordinal)  %></h5>
		<h5>Difficulty level: <%= @post.difficulty %></h5>
		<h5>Category: <a href="/mains/<%= @post.category %>"><span class="label label-primary"><%= @post.category %></span></a></h5>
		<p>Description: <%= @post.description %></p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div id="container">
			<div id="editor"><%= @post.code %></div>
			<script>
			  var editor = ace.edit("editor");
			  editor.setTheme("ace/theme/monokai");
			  editor.getSession().setMode("ace/mode/javascript");
			  editor.getSession().setTabSize(4);
			  editor.setHighlightActiveLine(false);
			  editor.setShowPrintMargin(false);
			  editor.getSession().setUseWrapMode(true);
			</script>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">	
		<h3>Reviews of this Algorithm</h3>
		<% if @comments.length < 1 %>
			<h5>No reviews added yet...</h5>
		<% end %>
		<hr>
			<% @comments.each do |comment| %>
    <div class="media">
      <div class="media-left">
        <% if comment.user_id == @current_user.id %>
        	<a href="/profile">
				<% else %>
        	<a href="/users/<%= comment.user_id %>">
        <% end %>
          <img class="media-object img-circle" id="profile-pic" src="<%= comment.user.gravatar %>" alt="Generic placeholder image">
        </a>
      </div>
      <div class="media-body">
        <strong><%= comment.user.first_name %> <%= comment.user.last_name %></strong>
        <%= comment.comment %><br>
        <strong>Rating:</strong><br>
        <div class="star-rating" data-score=<%= comment.rating %>></div>
        <i>Posted <%= distance_of_time_in_words(comment.created_at, Time.new()) %> ago</i>
        <% if comment.user_id == @current_user.id || @post.user_id == @current_user.id %>
        	<a href="/comments/<%= comment.id %>" data-method="delete">Delete</a>
        <% end %>
      </div>
    </div>
    <div class="text-center">
    	<%= will_paginate @comments, renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window: 0 %> 
    </div>
    <hr>
		<% end %>
		<h3>Add your Review</h3>
		<hr>
		<form action="/comments" method="POST">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="post[post_id]" value="<%= @post.id %>">
			<div class="form-group">
				<label>Comments:</label>
				<textarea name="post[comment]" rows="4" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<label>Rating:</label>
				<div id="star-rating"></div>
			</div>
			<div class="pull-right">
				<button class="btn btn-success" data-disable-with="Posting..">Post Review</button>
			</div>
		</form>
	</div>
	<div class="col-md-6">
	</div>
</div>
<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});

	$('#star-rating').raty({
		path: '/assets/',
		scoreName: 'post[rating]'
	});
</script>