<div class="row">
	<div class="col-md-6">
		<h1><%= @post.title %></h1>
		<h5>Posted by 
		<% if @current_user.id == @user_id %>
			<a href="/users">
		<% else %>
			<a href="/users/<%= @current_user.id %>">
		<% end %>
		<%= @current_user.first_name %> <%= @current_user.last_name %></a></h5>
		<% if @post.user_id == session[:user_id] %>
			<a href="/posts/<%= @post.id %>/edit">Edit</a>
		<% end %>
		<h5>Created on: <%= @post.created_at.to_formatted_s(:long_ordinal)  %></h5>
		<h5>Difficulty level: <%= @post.difficulty %></h5>
		<h5>Category: <a href="/mains/<%= @post.category %>"><span class="label label-primary"><%= @post.category %></span></a></h5>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Description: <%= @post.description %></p>
		<div id="container">
			<div id="editor"><%= @post.code %></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">	
		<h3>Reviews of this Algorithm</h3>
		<hr>
			<% @comments.each do |comment| %>
    <div class="media">
      <div class="media-left">
        <a href="/users/<%= comment.user_id %>">
          <img class="media-object img-circle" id="profile-pic" src="<%= comment.user.gravatar %>" alt="Generic placeholder image">
        </a>
      </div>
      <div class="media-body">
        <strong><%= comment.user.first_name %> <%= comment.user.last_name %></strong>
        <%= comment.comment %><br>
        <strong>Rating:</strong><br>
        <div class="star-rating" data-score=<%= comment.rating %>></div>
        <i>Posted <%= distance_of_time_in_words(comment.created_at, Time.new()) %> ago</i>
        <% if comment.user_id == session[:user_id] || @post.user_id == session[:user_id] %>
        	<a href="/comments/<%= comment.id %>" data-method="delete">Delete</a>
        <% end %>
      </div>
    </div>
    <hr>
		<% end %>
		<h3>Add your Review</h3>
		<hr>
		<form action="/comments" method="POST">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="post[post_id]" value="<%= @post.id %>">
			<div class="form-group">
				<label>Comments:</label>
				<textarea name="post[comment]" rows="4" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<label>Rating:</label>
				<div id="star-rating"></div>
			</div>
			<div class="pull-right">
				<button class="btn btn-success">Post Review</button>
			</div>
		</form>
	</div>
	<div class="col-md-6">
	</div>
</div>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setTabSize(4);
    editor.setHighlightActiveLine(false);
    editor.setShowPrintMargin(false);
    editor.getSession().setUseWrapMode(true);
</script>
<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
<script>
	$('#star-rating').raty({
		path: '/assets/',
		scoreName: 'post[rating]'
	});
</script>
<!-- <div class="pull-right">
	<button class="btn btn-info">
		<span class="glyphicon glyphicon-heart" aria-hidden="true" id="favorite-button"></span> Favorite
	</button>
</div> -->